.header__image {
    width: 382px;
    height: 382px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    right: 171px;
    bottom: 139px;
    z-index: 1;
}

@media screen and (max-width: 1279px) {
    .header__image{
        width: 360px;
        height: 360px;
        right: 120px;
        bottom: 100px;
    }
}

@media screen and (max-width: 1023px) {
    .header__image{
        width: 360px;
        height: 360px;
        right: 70px;
        bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
    .header__image {
        width: 100%;
        position: static;
        object-fit: cover;
        object-position: top left;
    }
}