.footer {
    max-width: 100%;
    min-height: 666px;
    background-color: #fecda7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    margin: 0 auto;
    font-size: 36px;
    font-weight: 700;
}

@media (max-width: 1279px) {
    .footer {
        min-height: 334px;
    }
}

@media (max-width: 1023px) {
    .footer {
        min-height: 223px;
    }
}

@media (max-width: 767px) {
    .footer {
        min-height: 112px;
    }
}