.people__quote-author {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 767px){
    .people__quote-author{
        font-size: 18px;
    }
}